@page "/products"
@inject IProductService ProductService
@inject NavigationManager NavigationManager

<PageTitle>Products</PageTitle>

<h3>Products</h3>

<table class="table">
    <thead>
    <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Category</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var product in ProductService.Products)
        {
            <tr>
                <td>
                    <img src="@product.ImageUrl" 
                        alt="@product.Title" class="img-fluid img-thumbnail" width="70px"/>
                </td>
                <td class="py-auto">@product.Title</td>
                <td class="py-auto">@product.Description</td>
                <td class="py-auto">@product.Quantity</td>
                <td class="py-auto">@product.Category</td>
                <td class="py-auto">@product.Price</td>
                <td>
                    <button class="btn btn-primary"
                            @onclick="(() => ShowProduct(product.Id))">
                        <i class="oi oi-pencil"></i>
                    </button>
                    <button class="btn btn-danger"
                            @onclick="(() => DeleteProduct(product.Id))">
                        <i class="oi oi-trash"></i>
                    </button>
                </td>
            </tr>
        }
    <tr class="table-light">
        <td colspan="7"><b>Number of products: @ProductService.Products.Count</b></td>
    </tr>
    </tbody>
</table>
<button class="btn btn-primary"
        @onclick="CreateNewProduct">
    Create New Product
</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ProductService.GetProducts();
    }

    void ShowProduct(int id)
    {
        NavigationManager.NavigateTo($"product/{id}");
    }

    void DeleteProduct(int id)
    {
        ProductService.DeleteProduct(id);
    }

    void CreateNewProduct()
    {
        NavigationManager.NavigateTo("/product");
    }
}
